.header {
  grid-area: header;
}
.b {
  grid-area: b;
}
.sidebar {
  grid-area: sidebar;
}
.section {
  grid-area: section;
}
.content {
  grid-area: content;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "sidebar sidebar main main"
    "sidebar sidebar section content"
    "footer footer footer footer";

  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
.grid-container > div {
  background-color: rebeccapurple;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

@media (max-width: 786px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "section"
      "content"
      "footer";
  }
}
